/* reset */
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/1.5 tahoma, '\5b8b\4f53', sans-serif;
	background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

em,
b {
	font-style: normal;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th,
ul,
ol {
	padding: 0;
	list-style-type: none;
}

.clearfix:after {
	content: "\0020";
	height: 0;
	display: block;
	clear: both;
}

.hidden {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

@font-face {
	font-family: "mr";
	src: url(../images/mr.otf);
}

@font-face {
	font-family: "bf";
	src: url(../images/bf.ttf);
}

.pa {
	position: absolute;
	z-index: 5;
}

.flex {
	display: flex;
}

.bs {
	box-sizing: border-box;
}

.db {
	display: block;
}

.sp {
	background: url(../images/sp.png);
}

.tc {
	text-align: center;
}

.wrap {
	width: 100%;
	min-width: 1200px;
	overflow: hidden;
	position: relative;
}

.main {
	width: 1200px;
	height: 2147px;
	margin: 0 auto;
	position: relative;
}

.rigth-top{
	height: 38px;
	font-size: 0;
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 5;
}

.rigth-top a{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.btn-language {
	background: url(../images/map.png) no-repeat left top / 26px 28px;
	color: #dcc4a7;
	font-size: 20px;
	line-height: 28px;
	padding-left: 38px;
	min-height: 60px;
	position: absolute;
	top: 15px;
	left: -55px;
	z-index: 9;
}

.btn-language:after{
	content: "";
	background-image: url(../images/arrow_1.png);
	width: 17px;
	height: 9px;
	position: absolute;
	top: 10px;
	right: -24px;
}

.btn-language:hover:after{
	background-image: url(../images/arrow_2.png);
}

.language-list{
	width: 232px;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
	border: solid 1px #745d40;
	top: 37px;
	left: 0;
	display: none;
}

.language-list li{
	height: 58px;
	line-height: 58px;
	color: #e0c8aa;
	font-size: 20px;
	box-sizing: border-box;
	padding-left: 24px;
}

.language-list li.on,.language-list li:hover{
	color: #FFF;
	background: rgba(116,93,64,0.68);
}

.head {
	height: 990px;
	position: relative;
}

.btn-logo {
	width: 440px;
	height: 200px;
	top: 52px;
	left: 0;
	cursor: default;
}

.btn-signup1 {
	width: 814px;
	height: 183px;
	position: absolute;
	top: 774px;
	left: 50%;
	margin-left: -407px;
}

.en .btn-signup1{
	background-position: -10px -416px;
}

.en .btn-signup1:hover {
	background-position: -10px -213px;
}

.es .btn-signup1{
	background-position: -10px -619px;
}

.es .btn-signup1:hover {
	background-position: -10px -10px;
}

.cont {
	padding-top: 40px;
	box-sizing: border-box;
	height: 962px;
}

.tit {
	width: 844px;
	height: 108px;
	margin: 0 auto;
	text-indent: -9999px;
}
.en .tit{
	background-image: url(../images/en_tit.png);
}
.es .tit{
	background-image: url(../images/es_tit.png);
}

.question {
	width: 1200px;
	height: 562px;
	padding: 22px 110px 0;
	position: relative;
}

.question-bd {
	width: 904px;
	height: 447px;
	position: relative;
}

.question-in {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.cover-up,.cover-down{
	pointer-events: none;
	left: 50%;
}
.cover-up{
	background-image: url(../images/cover_up.png);
	width: 1220px;
	height: 37px;
	top: -2px;
	margin-left: -610px;
}
.cover-down{
	background-image: url(../images/cover_down.png);
	width: 1110px;
	height: 71px;
	bottom: 40px;
	margin-left: -555px;
}

.scroll-bar {
	width: 33px;
	height: 447px;
	background: #2b2b2b;
	top: 0;
	right: -77px;
	cursor: pointer;
}

.scroll-block {
	background: url(../images/sp.png) no-repeat -72px -997px;
	width: 58px;
	min-height: 136px;
	max-height: 136px;
	top: -2px;
	left: -11px;
}

.qst-tit {
	color: #e0c8aa;
	font-size: 36px;
	line-height: 50px;
	font-weight: normal;
	box-sizing: border-box;
	padding-right: 40px;
	font-family: "mr";
}

.qst-email {
	margin-top: 35px;
	overflow: hidden;
}

.qst-tip {
	width: 904px;
	min-height: 58px;
	line-height: 40px;
	background: #2a2e31;
	color: #ff0102;
	font-size: 26px;
	box-sizing: border-box;
	padding: 9px 0 9px 30px;
	margin-top: 14px;
	display: none;
}

.qst-email span {
	float: left;
	line-height: 66px;
	color: #e0c8aa;
	font-size: 32px;
	margin-right: 24px;
	margin-bottom: 5px;
}

.qst-email input {
	width: 524px;
	height: 66px;
	line-height: 66px;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 32px;
	color: #e0c8aa;
	box-sizing: border-box;
	padding: 0 8px;
	border: none;
	float: left;
}

.qst-email input:focus{
	border: solid 2px #47a4e6;
}

.qst-box {
	overflow: hidden;
}

.qst-item {
	padding: 42px 0 0 0;
}

.qst-txt {
	font-size: 36px;
	line-height: 46px;
	color: #e0c8aa;
}

.qst-text{
	color: #bfbbad;
	font-size: 30px;
	line-height: 50px;
	padding: 10px 0 0 0;
	background: none;
}

.qst-list {
	margin-top: 4px;
}

.qst-list li {
	color: #e0c8aa;
	font-size: 32px;
	line-height: 47px;
	margin-top: 24px;
	cursor: pointer;
	overflow: hidden;
	padding-left: 58px;
	position: relative;
}

.qst-list li i {
	background: #25292c;
	width: 29px;
	height: 29px;
	border: solid 9px #25292c;
	border-radius: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.qst-list li a{
	color: #4cb0f6;
	margin: 0 15px;
	position: relative;
	border-bottom: solid 1px #4cb0f6;
}

.qst-list li.on {
	color: #48b0fa;
}

.qst-list li.on i {
	background: #4eb3fa;
	border-color: #1a6ea9;
}

.qst-item2 .qst-list li{
	margin: 0 0 24px 0;
}

.swiper-container {
	width: 1170px;
}

.question .swiper-scrollbar {
	background: #2b2b2b;
	width: 34px;
	height: 637px;
	right: 28px;
}

.question .swiper-scrollbar-drag {
	background: url(../images/sp.png) no-repeat -726px -578px;
	width: 58px;
	height: 136px !important;
	left: -11px;
}

.btn-signup2 {
	width: 679px;
	height: 152px;
	margin: 0 auto;
	position: relative;
}

.btn-signup2:before{
	content: "";
	width: 521px;
	height: 113px;
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -260px;
	display: none;
	transition: all 0.3s linear;
	z-index: 55;
}

.btn-signup2:hover:before{
	display: block;
}

.en .btn-signup2{
	background-position: -10px -822px;
}

.en .btn-signup2.open {
	background-position: -844px -528px;
}

.en .btn-signup2.open:hover {
	background-position: -844px -356px;
}

.en .btn-signup2:before{
	background: url(../images/en_error.png);
}

.es .btn-signup2{
	background-position: -709px -822px;
}

.es .btn-signup2.open {
	background-position: -844px -183px;
}

.es .btn-signup2.open:hover {
	background-position: -844px -10px;
}

.es .btn-signup2:before{
	background: url(../images/es_error.png);
}

.en .btn-signup2.open:before,.es .btn-signup2.open:before{
	background: none;
}

.footer {
	width: 1200px;
	box-sizing: border-box;
	justify-content: center;
}

.footer .f-timi{
	width: 297px;
}

.footer .f-other{
	font-size: 21px;
	line-height: 36px;
	font-family: "mr";
}

.footer .f-icon{
	width: 387px;
	height: 38px;
	margin: 7px 0 20px 66px;
	font-size: 0;
}

.footer .f-icon a{
	display: inline-block;
	vertical-align: top;
	margin-right: 70px;
}

.footer .f-txt1{
	padding-left: 66px;
}
.footer .f-txt1,.footer .f-txt1 a{
	color: #d4d5d4;
}

.footer .f-txt1 span{
	margin: 0 17px;
}

.footer .f-txt2{
	color: #595959;
	padding-left: 66px;
}

.bg-box {
	width: 1920px;
	min-width: 1200px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -960px;
	z-index: -1;
}

.bg {
	background-repeat: no-repeat;
	background-position: 50% 0;
	margin-top: -1px;
}

.bg1 {
	background-image: url(../images/bg1.jpg);
	height: 400px;
}

.bg2 {
	background-image: url(../images/bg2.jpg);
	height: 400px;
}

.bg2_2 {
	background-image: url(../images/bg2_2.jpg);
	height: 400px;
}

.bg3 {
	background-image: url(../images/bg3.jpg);
	height: 800px;
}

.bg4 {
	background-image: url(../images/bg4.jpg);
	height: 547px;
}

.es .bg2,.en .bg2_2{
	display: none;
}

.es .bg2_2,.en .bg2{
	display: block;
}

/*�汾2��ʽ*/
.version2 .bg1 {
	background-image: url(../images/bg01.jpg);
	height: 400px;
}

.version2 .bg2 {
	background-image: url(../images/bg02.jpg);
	height: 400px;
}

.version2 .bg2_2 {
	background-image: url(../images/bg02_2.jpg);
	height: 400px;
}

.version2 .btn-logo {
	width: 380px;
	height: 200px;
	top: 171px;
	left: 94px;
}

.dialog {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	display: none;
}

.dia {
	background: url(../images/dia_bg.png) no-repeat center / 100%;
	width: 707px;
	height: 408px;
	position: relative;
	text-align: center;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -204px 0 0 -353px;
	box-sizing: border-box;
}

.dia_close {
	background-position: -150px -997px;
	width: 53px;
	height: 53px;
	top: -41px;
	right: -54px;
}

.dia_bd {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-item: center;
	justify-content: center;
	padding: 40px 0;
}

.dia_tip {
	font-size: 48px;
	line-height: 1;
	padding-bottom: 10px;
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: 546px 3px;
	font-family: "bf";
}

.fail .dia_tip{
	background-image: url(../images/dia_line1.png);
	color: #d41c1c;
}

.suc .dia_tip{
	background-image: url(../images/dia_line2.png);
	color: #c3a187;
}

.dia_p1 {
	color: #e2ddc9;
	font-size: 28px;
	line-height: 36px;
	padding: 20px 76px 16px;
}

.dia_p2 {
	color: #bfbbad;
	font-size: 20px;
	line-height: 30px;
}

.dia_go {
	width: 100%;
	justify-content: center;
	padding-top: 15px;
}

.dia_go a {
	margin: 0 60px;
}

.btn_disc {
	background-position: -150px -1066px;
	
	width: 203px;
	height: 69px;
}

.btn_disc:hover{
	background-position: -150px -1154px;
}
.chonice{
	color:#48b0fa;
	font-weight: bold;
}
.confirmWrap li{
	cursor: default;
}
.confirmWrap i{
	cursor: pointer;
}